<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width={device-width}, initial-scale=1.0">
    <title>User Dashboard</title>
</head>
<body>
    {% include 'navbar.html' %}
    <h1>Welcome to the User Dashboard</h1>
    <p>Login successful. This is the user dashboard.</p>

        <li><a href="{% url 'report_outage' %}">Report an Outage</a></li>
        <li><a href="#">View my Outage Reports</a></li>

        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Location</th>
                    <th>Description</th>
                    <th>Status</th>
                    <th>Planned</th>
                    <th>Estimated Restoration Time</th>
                </tr>
            </thead>
        </table>
</body>
</html>