<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register/Become a Member</title>
    {% load static %} <!-- Loads the static template tag -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    {% load crispy_forms_tags %} <!-- Loads the crispy_forms_tags -->
</head>
<body>
    {% include 'navbar.html' %}
    <form class="form-container" method="POST">
        <h1>Sign Up</h1>
        <p>It's easy.</p>
        {% csrf_token %} <!-- This is a security feature to prevent Cross-Site Request Forgery (CSRF) attacks. -->
        <div class="form-group">
            {{ form|crispy }}
        </div>
        <button class="submitButton" type="submit">Register</button>
    </form>
</body>
</html>