<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
</head>
<body>
    {% include 'navbar.html' %}
    <h1>Welcome to the Admin Dashboard</h1>
    <p>Login successful. This is the admin dashboard.</p>
        <ul>
            <li><a href="{% url 'report_outage' %}">Report an Outage</a></li>
            <li><a href="{% url 'get_all_outage_reports' %}">View All Outage Reports</a></li>
            <li><a href="#">Generate Reports</a></li>
            <li><a href="#">Calculate Outages by Zip Code</a></li>
            <li><a href=""></a></li>
        </ul>
        {% if messages %}
            <div class="messages">
                {% for message in messages %}
                    <div class="alert {{ message.tags }}">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        
        <div class="forms">
            <form method='GET'>
            <fieldset>
            
            {{ form.report_id.label_tag}}
            {{ form.report_id }}
            
            {{ form.planned.label_tag}}
            {{ form.planned }}
            
            {{ form.status.label_tag}}
            {{ form.status }}
            <button type="submit">Submit</button>
            
            </fieldset>
            
            </form>
        </div>

        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Location</th>
                    <th>Description</th>
                    <th>Status</th>
                    <th>Planned</th>
                    <th>Estimated Restoration Time</th>
                </tr>
            </thead>
            <tbody>
                {% for report in reports %}
                <tr>
                    <td><a href="{% url 'update_outage_report' report.report_id %}">{{ report.report_id }}</a></td>
                    <td>{{ report.location }}</td>
                    <td>{{ report.description }}</td>
                    <td>{{ report.get_status_display }}</td>
                    <td>{{ report.planned|yesno:"Yes,No" }}</td>
                    <td>{{ report.estimated_restoration_time }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

</body>
</html>