<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
</head>
<body>
    {% include 'navbar.html' %}
    <h1>Welcome to the Admin Dashboard</h1>
    <p>Login successful. This is the admin dashboard.</p>

        <li><a href="{% url 'report_outage' %}">Report an Outage</a></li>
        <li><a href="#">View All Outage Reports</a></li>
        <li><a href="#">Generate Reports</a></li>
        <li><a href="#">Calculate Outages by Zip Code</a></li>
        <li><a href=""></a></li>

        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Location</th>
                    <th>Description</th>
                    <th>Status</th>
                    <th>Planned</th>
                    <th>Estimated Restoration Time</th>
                </tr>
            </thead>
            <tbody>
                
            </tbody>
        </table>

</body>
</html>